[submodule "tictactoe-web"]
	path = tictactoe-web
	url = https://github.com/aspyrx/tictactoe-web.git
[submodule "tictactoe-server"]
	path = tictactoe-server
	url = https://github.com/aspyrx/tictactoe-server.git
